<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>

<div layout:fragment="content">
    <h2 class="mb-4" th:text="${details.studentName}">Students</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Tên môn học</th>
            <th scope="col">Điểm số</th>
            <th scope="col">Cập nhập</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="detail : ${details.markDetails}">
            <td th:text="${detail.subjectName}">Tên môn học</td>
            <td th:text="${detail.mark}">Điểm số</td>
            <td>
                <a class="btn btn-primary btn-sm">Cập nhật</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
