<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Tìm kiếm học sinh theo tên: </h1>
    <form method="get" th:action="@{/students/searchings}">
        <div class="form-group" style="padding-bottom: 50px">
            <label for="name">Nhập tên: </label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter student name"/>
        </div>

        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
    <h1>Danh sách sinh viên</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Số chứng minh nhân dân</th>
            <th>Họ và Tên</th>
            <th>Gmail</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="student : ${students}">
            <td th:text="${student.id}"></td>
            <td th:text="${student.fullname}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.phoneNumber}"></td>
            <td th:text="${student.address}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/students}" class="btn btn-secondary mt-3">Back to Students List</a>
</div>
</body>
</html>